<div class="w-[40%] text-[18px] my-20 mx-auto flex flex-col items-center">
<h1 class="mb-11 text-3xl">Editing recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>
  <%= link_to "Back to recipes", user_recipe_path, class:"self-start border-solid rounded-md border-2 borde  r-slate-200 p-2 bg-[#11537d] hover:bg-cyan-500 text-white"   %>
</div>
</div>