<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<%
=begin%>
 <div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>
<%
=end%>

<%= link_to "New recipe", new_user_recipe_path %>
