<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to users", users_path %>
  <%= button_to "Logout", @user, method: :delete %>
</div>
 <%= link_to "Recipes", user_recipes_path(params[:id]) %>
