
<h1>public Recipes</h1>

<% @user.each do |user| %>

    <% user.sortrecipes.each do |recipe| %>
        <% if recipe.public%>
            <div>
                <%= user.name%>
                <%= recipe.name %>
                <%= link_to "recipe details", user_recipe_path(user.id,recipe.id) %>
            </div>
        <%end%>
    <%end%>
<%end%>
<%= link_to "Users", users_path %>
