<tr id="<%= dom_id food %>" class="border-b-2 bg-white text-slate-700 border-slate-700">
  <td class="p-4 font-medium"><%= food.name %></td>
  <td class="p-4 font-medium"><%= food.measuement_unit %></td>
  <td class="p-4 font-medium"><%= food.price %></td>

