
</div>
<div id="<%= dom_id food %>" class="border-b-2 bg-white text-slate-700 border-slate-700">
  <div class="p-4 font-medium"><%= food.name %></div>
  <div class="p-4 font-medium"><%= food.measuement_unit %></div>
  <div class="p-4 font-medium"><%= food.price %></div>
</div>

